*{
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
header{
    border-bottom: 1px solid #ccc;
    height: 40px;
}
.container .row div{
    height: 40px;
    border-left: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
}
.container .row div:first-child{
    border: none;
}
.container .row div:first-child a{
    display: block;
    color: #666666;
    font-size: 10px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
}
.container .row div a{
    color: #666666;
}
.container .row div a img{
    display: none;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -60px;
}
.container .row div a:hover img{
    display: block;
    z-index: 10000;
}
.free-login{
    margin-right: 10px;
    color: #ffffff !important;
    background: #e92322;
}

@font-face {
    font-family: 'wjs';
    src:
            url(../../fonts/MiFie-Web-Font.svg) format('svg'),
            url(../../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
            url(../../fonts/MiFie-Web-Font.ttf) format('truetype'),
            url(../../fonts/MiFie-Web-Font.woff) format('woff');
}
.wjs_icon{
    font-family:'wjs';
}
.wjs_icon_font_phone::before{
    content:'\e908';
}
.wjs_icon_font_tel::before{
    content:'\e909';
}
.wjs_logo_left::before{
    content: '\e920';
    font-size: 50px;
    color: #e92322;
    vertical-align: middle;
}
.wjs_logo_right::before{
    content: '\e93e';
    font-size: 36px;
    color: #333;
    vertical-align: middle;
}
.wjs-nav {
    position: relative;
    height: 80px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;

}
@media (min-width: 768px) {
    .wjs-nav {

    }
}
@media (min-width: 768px) {
    .wjs-nav .navbar-header {
        float: left;
    }
}
.wjs-nav{
    margin-bottom: 0px;
    background-color: #fff;
    border: none;
}
/*brand部分*/
.wjs-nav .navbar-header .navbar-brand{
    height: 80px;
    line-height: 50px;
}

.wjs-nav .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.wjs-nav .navbar-collapse.in {
    overflow-y: auto;
}
@media (min-width: 768px) {
    .wjs-nav .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .wjs-nav .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .wjs-nav .navbar-collapse.in {
        overflow-y: visible;
    }
    .wjs-nav .navbar-fixed-top .navbar-collapse,
    .wjs-nav .navbar-static-top .navbar-collapse,
    .wjs-nav .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}
.wjs-nav .navbar-fixed-top .navbar-collapse,
.wjs-nav .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
    .wjs-nav .navbar-fixed-top .navbar-collapse,
    .wjs-nav .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}
.nav-box{
    background:#ffffff;
}
/*a标签样式*/
.wjs-nav .container .navbar-collapse .navbar-nav li a{
    height: 80px;
    line-height: 50px;
    font-size: 12px;
}

.wjs-nav .navbar-nav > .active > a,
.wjs-nav .navbar-nav > .active > a:hover,
.wjs-nav .navbar-nav > .active > a:focus {
    border-bottom: 2px solid red;
}
.wjs-nav .navbar-nav li a:hover{
    border-bottom: 2px solid red;

}
.wjs-babber .carousel-inner a{
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center !important;
    background-repeat: no-repeat;
}
.wjs-babber .carousel-inner img{
    width: 100%;
    display: block;
}